---
import BasePage from '../layouts/BasePage.astro';
import Threema from '../components/Threema.astro';
---
<style>
#captcha-dots {
  display: flex;
  gap: 8px;
}
.dot {
  width: 16px;
  height: 16px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.dot:hover {
  background-color: #aaa;
}
</style>
<script is:client>
function toggleEmail() {
  const emailButton = document.querySelector('button');
  const email = window.location.hostname.replace('t.', 't@');
  const emailLink = document.createElement('a');
  emailLink.href = 'mailto:' + email;
  emailLink.textContent = 'Click to email me with your email client';
  emailButton.replaceWith(emailLink);
  const copyButton = document.createElement('a');
  copyButton.textContent = 'Copy email';
  copyButton.href = 'javascript:void(0)';
  copyButton.onclick = () => copyValueToClipboard(copyButton, email);
  emailLink.parentNode.insertBefore(copyButton, emailLink.nextSibling);
  emailLink.style.display = 'block';
  emailLink.style.marginTop = '8px';
}
function copyValueToClipboard(element, value) {
  navigator.clipboard.writeText(value).then(() => {
    const copiedConfirmation = document.createElement('span');
    copiedConfirmation.textContent = 'Copied!';
    copiedConfirmation.style.color = 'green';
    copiedConfirmation.style.marginLeft = '8px';
    element.parentNode.insertBefore(copiedConfirmation, element.nextSibling);
    setTimeout(() => {
      copiedConfirmation.remove();
    }, 2000);
  });
}
</script>
<BasePage title="Contact Clément Champouillon" description="Get in touch with Clément Champouillon.">
  <h1>Get in touch</h1>
  <h2>Phone</h2>
  <p>
    If we already met, you may have my phone number, and if you have dozens of
    Clément in your contacts, my number is (+33)6 xx xx xx 84.
    <br />
    <strong>Do not contact me using Whatsapp</strong>, but you can freely contact
    me using <a href="https://signal.org" target="_blank">Signal</a> or <a href="http://threema.id/" target="_blank">Threema</a>.
  </p>
  <div style="width: 200px">
    <p>
    Threema<br />
    ZPZMH52Y<br />
    <a onclick="copyValueToClipboard(this, 'ZPZMH52Y')" href="javascript:void(0)">
      Copy Threema ID
    </a>
    </p>
    <Threema />
  </div>
  <h2>Email</h2>
  <p>
    You can contact me by email, either for professional or personal matters.
    <button onclick="toggleEmail()">
      Show email
    </button>
  </p>
  <h2>Professional or business inquiries</h2>
  Check out my LinkedIn and contact me there if you want to discuss!
  <a href="https://www.linkedin.com/in/cchampou/" target="_blank" rel="noopener noreferrer">
    Go to my LinkedIn profile
  </a>
</BasePage>
