---
import SocialButton from '../components/SocialButton.astro';
import BasePage from '../layouts/BasePage.astro';
import { Image, Picture } from 'astro:assets';
import HomeContent from '../content/homepage.md';
import pp from '../assets/pp.webp';
---
<style>
  #hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: solid 1px black;
    padding: 8px;
    max-width: 400px;
    margin: 32px auto;
    font-size: 14px;
  }
  #hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  #hero-text p {
    margin: 0;
  }
  .field {
    font-weight: bold;
    margin-right: 4px;
  }
  :where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
  }
  :where([data-astro-image='full-width']) {
    width: 100%;
    height: auto;
  }
</style>
<BasePage 
  title="Clément Champouillon - Software Developer"
  description="Personal website of Clément Champouillon, a software developer based in Lyon, France.">
<h1>Welcome to my personal website</h1>
<div id="hero">
  <div style="flex: 1;">
    <Image
      src={pp}
      alt="Clément Champouillon"
      layout="full-width"
      fit="contain"
      width={pp.width/4}
      height={pp.height/4}
    />
  </div>
  <div id="hero-text">
    <p>
      <span class="field">Name</span>
      <span>Clément Champouillon</span>
    </p>
    <p>
      <span class="field">Birthday</span>
      <span>15th September</span>
    </p>
    <p>
      <span class="field">Nationality</span>
      <span>French</span>
    </p>
    <p>
      <span class="field">Location</span>
      <a href="#where-i-live">Lyon, France</a>
    </p>
    <p>
      <span class="field">Languages</span>
      <span >french, english, german</span>
    </p>
    <p>
      <span class="field">Studies</span>
      <a href="#how-i-learned-software-development">a mess, but led me to software development</a>
    </p>
    <p>
      <span class="field">Profession</span>
      <a href="#what-i-do">software developer</a>
    </p>
    <p>
      <span class="field">Volunteer activities</span>
      <a href="#">first aid</a>
    </p>
    <p>
      <span class="field">Hobbies</span>
      programming, electronics, sailing, traveling, photography, <a href="plane-spotting">plane spotting</a>, sport
    </p>
  </div>
</div>
<a href="/contact">Check out my contact page to get in touch!</a><br />
<a href="/cv">View my CV</a>
<HomeContent />
</BasePage>
