---
import SocialButton from '../components/SocialButton.astro';
import BasePage from '../layouts/BasePage.astro';

import HomeContent from '../content/homepage.md';
---
<style>
#hero {
  text-align: center;
}
</style>
<BasePage 
  title="Clement Champouillon - Software Developer"
  description="Personal website of Clement Champouillon, a software developer based in Lyon, France.">
    <header id="hero">
      <h1>Clement CHAMPOUILLON</h1>
      <p>I am a 30 y.o. software developer.</p>
      <SocialButton
        label="LinkedIn"
        href="https://linkedin.com/in/cchampou"
        color="var(--linkedin-color)"
      />
      <SocialButton
        label="GitHub"
        href="https://github.com/cchampou"
        color="var(--github-color)"
      />
    </header>
    <HomeContent />
</BasePage>
