---
interface Props {
  label: string;
  ariaLabel?: string;
  onClick?: () => void;
}
const { label, onClick, ariaLabel }: Props = Astro.props;
---

<style>
  button {
    margin: 8px 4px;
    padding: 8px 16px;
    background-color: var(--buttonColor);
    border: solid 1px var(--borderColor);
    border-radius: var(--borderRadius);
    color: #fff;
    cursor: pointer;
  }
</style>
<button onclick={onClick} aria-label={ariaLabel ?? null} class="button">
  {label}
</button>
