---
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
<style>
:root {
  --linkedin-color: #0077B5;
  --github-color: #333;
}
body {
  font-family: Arial, sans-serif;
}
body.dark-mode {
  background-color: #121212;
  color: #DEDEDE;
}
#content {
  margin: auto;
  max-width: 800px;
}
</style>
<style is:global>
  .no-margin {
    margin: 0;
  }
  figure {
    max-width: 100%;
    width: 400px;
    margin: 16px auto;
    text-align: center;
  }
  figure img {
    width: 100%;
  }
</style>   <meta name="author" content="Clement CHAMPOUILLON">    
</head>
      <body>
        <div id="content">
          <slot>
          </slot>
        </div>
      </body>
</html>
