---
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="author" content="Clément CHAMPOUILLON">    
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
<style is:global>
:root {
  --linkedin-color: #0077B5;
  --github-color: #333;
}
  @font-face {
    font-family: 'NataSans';
    src: url('/NataSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NataSans';
    src: url('/NataSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  .no-margin {
    margin: 0;
  }
  figure {
    max-width: 100%;
    width: 400px;
    margin: 16px auto;
    text-align: center;
  }
  figure img {
    width: 100%;
  }
  h1 {
    line-height: 2rem;
  }
  h1, h2 {
    font-family: 'NataSans', sans-serif;
    font-weight: 200;
    margin-top: 0;
  }
  h2 {
    font-weight: 600;
  }
</style>
<style>
body {
  font-family: Arial, sans-serif;
  transition: background-color 1s ease-in-out;
  margin: 16px;
}
body.dark-mode {
  background-color: #000;
  color: #DEDEDE;
}
#content {
  margin: auto;
  margin-top: 32px;
  max-width: 800px;
}
footer {
  text-align: center;
}
header a {
  font-family: 'NataSans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
  line-height: 0.6rem;
  text-decoration: none;
  color: inherit;
}
header span {
  font-weight: 200;
}
</style>
  </head>
  <body>
    <header>
      <a href="/"><span>Clément</span><br />CHAMPOUILLON</a>
      </header>
        <div id="content">
          <slot>
          </slot>
        </div>
      </body>
      <footer>
        <p>
          © 2025 Clément Champouillon. All rights reserved.
        </p>
        <p>
        <a href="/sitemap-index.xml">Sitemap</a>
        </p>
</html>
